/* CSS untuk katalog.html */
.kcontainer {
  width: 85%;
  margin: auto;
  margin-top: 80px;
  padding: 10px;
}
.footer-bottom {
  margin-top: 15px;
  background: #333333;
  color: white;
  text-align: center;
  padding: 10px 20px;
}

/* CSS untuk keranjang.html */
.zebra-table {
  margin: -30px 0px -50px -50px;
  width: 110%;
  border-collapse: collapse;
  box-shadow: 0 2px 3px 2px #ddd;
  overflow: hidden;
  border: 10px solid #fff;
}
.zebra-table th, .zebra-table td {
  vertical-align: top;
  padding: 12px 8px;
  text-align: center;
  margin: 0;
}
.zebra-table tbody tr:nth-child(odd) {
  background: #eee;
}
.card-header {
  text-align: center;
}

/* CSS untuk register.html */
.title {
  margin-bottom: 30px;
  text-align: center;
}
#kotak {
  box-shadow: -5px -5px 5px rgba(35, 35, 35, 0.3);
  border-radius: 15px;
}
.card-body {
  padding: 0 65px;
  padding-top: 30px;
  padding-bottom: 65px;
  font-family: inherit;
}

/* CSS untuk index.html */
/* navbar */
.navbar {
  padding-left: 100px;
  padding-right: 100px;
  transition: all 1s ease;
}
.navbar.skuyBar {
  padding: 10px;
  box-shadow: 0 5px 15px 0 #22222244;
}
.logo {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.navbar a.logo:hover {
  color: #0077ff;
  text-decoration: none;
}
.nav.nav-item.nav-menu > li {
  padding: 10px;
  margin-right: 15px;
}
.nav.nav-item.nav-menu > li > a {
  color: white;
  font-size: 15px;
  font-weight: bold;
}
.nav.nav-item.nav-menu > li:hover > a {
  color: #0077ff;
}
/* header */
.content-carousel {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: white;
  text-align: center;
}
.btn-carousel {
  color: white;
  border: 2px solid white;
  background: transparent;
  padding: 10px 20px;
  border-radius: 5px;
}
.btn-carousel:hover {
  color: white;
  background: #0077ff;
  text-decoration: none;
}
/* tentang kami */
.section-title {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
  position: relative;
}
.icon {
  color: #0077ff;
  font-size: 50px;
}
.icon:hover a {
  color: white;
  text-decoration: none;
}
.icon-canvas {
  background-color: #0077ff;
  width: 50px;
  padding: 5px;
  border-radius: 50%;
  color: white;
  margin: 0 auto;
}
.icon-canvas-wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: -20px;
  font-size: 25px;
}
.canvas-item {
  position: relative;
}
.title-canvas {
  margin-top: 35px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
/* best product */
.robot-hover {
  position: relative;
}
.overlay-robot {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  background: #0077ff77;
  transition: all 0.5s;
}
.overlay-robot:hover {
  opacity: 1;
}
.overlay-robot-content {
  width: 100%;
  height: 100%;
  position: relative;
}
.overlay-robot-content h3 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay-robot-content div {
  position: absolute;
  background: #0077ffcc;
  padding: 5px 10px;
  color: white;
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
}
.overlay-robot-content div:hover {
  cursor: pointer;
}
/* tim kami */
.tim-kami {
  width: 19% !important;
  margin: 0.5%;
}
.img-tim {
  position: relative;
}
.img-tim:hover .overlay-tim {
  display: block;
}
.overlay-tim {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #222222bb;
  color: white;
}
.content {
  margin-top: calc(50% - 50px);
  text-align: center;
}
.tim-name {
  font-size: 20px;
  font-weight: bold;
}
/* contact footer */
.title-contact {
  font-size: 25px;
  margin-bottom: 15px;
}
.footer {
  background-color: black;
  padding: 50px 0;
  color: white;
}
.title-footer {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
.title-footer:after,
.title-footer:before {
  content: "";
  position: absolute;
  bottom: 0;
}
.title-footer:after {
  width: 50px;
  height: 5px;
  background-color: #0077ff;
  left: 0;
}
.title-footer:before {
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: 1px;
}