/* CSS untuk katalog.html */
.kcontainer {
  width: 85%;
  margin: auto;
  margin-top: 80px;
  padding: 10px;
}

/* CSS untuk register.html */
.title {
  margin-bottom: 30px;
  text-align: center;
}
#kotak {
  box-shadow: -5px -5px 5px rgba(35, 35, 35, 0.3);
  border-radius: 15px;
}
.card-body {
  padding: 0 65px;
  padding-top: 30px;
  padding-bottom: 65px;
  font-family: inherit;
}
.footer-bottom {
  margin-top: 10px;
  background: #333333;
  color: white;
  text-align: center;
  padding: 10px 20px;
}

/* CSS untuk index.html */
/* navbar */
.navbar {
  padding-left: 100px;
  padding-right: 100px;
  transition: all 1s ease;
}
.navbar.skuyBar {
  padding: 10px;
  box-shadow: 0 5px 15px 0 #22222244;
}
.logo {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.navbar a.logo:hover {
  color: #0077ff;
  text-decoration: none;
}
.nav.nav-item.nav-menu > li {
  padding: 10px;
  margin-right: 15px;
}
.nav.nav-item.nav-menu > li > a {
  color: white;
  font-size: 15px;
  font-weight: bold;
}
.nav.nav-item.nav-menu > li:hover > a {
  color: #0077ff;
}
/* header */
.content-carousel {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: white;
  text-align: center;
}
.btn-carousel {
  color: white;
  border: 2px solid white;
  background: transparent;
  padding: 10px 20px;
  border-radius: 5px;
}
.btn-carousel:hover {
  color: white;
  background: #0077ff;
  text-decoration: none;
}
/* tentang kami */
.section-title {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
  position: relative;
}
.icon {
  color: #0077ff;
  font-size: 50px;
}
.icon:hover a {
  color: white;
  text-decoration: none;
}
.icon-canvas {
  background-color: #0077ff;
  width: 50px;
  padding: 5px;
  border-radius: 50%;
  color: white;
  margin: 0 auto;
}
.icon-canvas-wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: -20px;
  font-size: 25px;
}
.canvas-item {
  position: relative;
}
.title-canvas {
  margin-top: 35px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
